#
####### requirements.txt #######
#
# UTM for converting UTM-WGS84 to lat lon coordinates
utm
# For reading ESRI Shapefiles
pyshp
# For name entity extraction
spacy
# For geocoding addresses
geopy
# For checking for lat/lon in bounds of polygons
shapely
