.pie-chart-container {
  width: 480px;
  height: 240px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
  border: 1px solid black;
}
.pie-chart-container canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dashboard-table {
  border: none;
  margin: 30px 0 40px;
  padding: 10px 0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  width: 100%;
  max-width: 980px;
}
.dashboard-table th,
.dashboard-table td {
  border: 0;
  margin: 0;
  padding: 0 1rem 0 0;
}
.dashboard-table th {
  text-align: left;
}
.dashboard-table td {
  font-size: 3rem;
  font-weight: bold;
  max-width: 300px;
  overflow: hidden;
}

.explore-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.map-type-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10000;
  border-bottom: 2px solid black;
}
.map-type-menu label {
  display: block;
  white-space: nowrap;
  position: relative;
  width: 140px;
  height: 40px;
  line-height: 40px;
  border: 2px solid black;
  border-bottom: 0;
  padding-left: 5px;
  box-sizing: border-box;
}
.map-type-menu .label-bg {
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.map-type-menu .label-text {
  color: white;
  position: relative;
  z-index: 1;
}
.map-type-menu input {
  position: relative;
  z-index: 1;
  margin: 0 3px;
}
.map-type-menu input:checked ~ .label-bg {
  background: white;
}
.map-type-menu input:checked ~ .label-text {
  color: black;
}


.timeline-container {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 20px;
  right: 5px;
  border: 1px solid black;
  z-index: 10000;
  background: white;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
.timeline-container.active {
  width: 600px;
  height: 150px;
}
.timeline-container canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.timeline-container button {
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 40px;
  top: -40px;
  right: 0;
}
.timeline-container canvas,
.timeline-container .time-range-selector {
  transition: transform 0.5s ease-in-out;
  transform-origin: bottom right;
  transform: scale3d(0,0,0);
}
.timeline-container.active canvas,
.timeline-container.active .time-range-selector {
  transform: scale3d(1, 1, 1);
}
