body.hidden > *,
body.loading > * {
  display: none;
}

.loader {
  display: none;
  text-align: center;
}
body.loading > .loader {
  display: flex;
}
body.hidden.loading > .loader {
  display: none;
}

.pie-chart-container {
  width: 480px;
  height: 240px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
  border: 1px solid black;
}
.pie-chart-container canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.data-table-container {
  width: 480px;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-right: 10px;
  vertical-align: top;
}
@media only screen and (max-width: 1036px) {
  .data-table-container {
    width: 100%;
  }
}
.data-table td:last-child,
.data-table th:last-child {
  text-align: right;
}

.dashboard-table {
  border: none;
  margin: 30px 0 10px;
  padding: 10px 0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  width: 100%;
  max-width: 980px;
}
.dashboard-table + p {
  margin-bottom: 30px;
}
.dashboard-table th,
.dashboard-table td {
  border: 0;
  margin: 0;
  padding: 0 1rem 0 0;
}
.dashboard-table th {
  text-align: left;
}
.dashboard-table td {
  font-size: 3rem;
  font-weight: bold;
  max-width: 300px;
  overflow: hidden;
}
.dashboard-table.loading td {
  visibility: hidden;
}

.container h2:last-child {
  margin-bottom: -10px;
}
.explore-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.explore-container.loading > * {
  display: none;
}
.explore-container.loading > .loader {
  display: flex;
}

.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.map-type-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10000;
  border-bottom: 2px solid black;
}
.map-type-menu label {
  display: block;
  white-space: nowrap;
  position: relative;
  width: 140px;
  height: 40px;
  line-height: 40px;
  border: 2px solid black;
  border-bottom: 0;
  padding-left: 5px;
  box-sizing: border-box;
}
.map-type-menu .label-bg {
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.map-type-menu .label-text {
  color: white;
  position: relative;
  z-index: 1;
}
.map-type-menu input {
  position: relative;
  z-index: 1;
  margin: 0 3px;
}
.map-type-menu input:checked ~ .label-bg {
  background: white;
}
.map-type-menu input:checked ~ .label-text {
  color: black;
}
.leaflet-popup-content p {
  margin: 3px 0;
}

.map-search {
  position: absolute;
  top: 5px;
  right: 160px;
  z-index: 10000;
}
.map-search input {
  width: 240px;
  height: 40px;
  line-height: 40px;
  border: 2px solid black;
}

.timeline-container {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 20px;
  right: 5px;
  border: 1px solid black;
  z-index: 10000;
  background: white;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
.timeline-container.active {
  width: 620px;
  height: 150px;
}
.timeline-container canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.timeline-container button {
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 40px;
  top: -40px;
  right: 0;
}
.timeline-container canvas,
.timeline-container .time-range-selector {
  transition: transform 0.5s ease-in-out;
  transform-origin: bottom right;
  transform: scale3d(0,0,0);
}
.timeline-container.active canvas,
.timeline-container.active .time-range-selector {
  transform: scale3d(1, 1, 1);
}

.time-range-selector {
  width: 555px;
  position: absolute;
  top: 30px;
  left: 42px;
  height: 85px;
}
.time-range-selector .ui-slider-range {
  background: rgba(255, 235, 0, 0.2);
  border: 1px solid black;
  box-sizing: border-box;
}
.time-range-selector .ui-slider-handle {
  background: black;
  top: 0;
  width: 10px;
  height: 100%;
  margin-left: -5px;
  outline: black;
}
.time-range-selector .ui-slider-handle .label {
  display: block;
  position: absolute;
  font-size: 0.9rem;
  background: black;
  color: white;
  height: 20px;
  line-height: 20px;
  width: 40px;
  top: -20px;
  left: 50%;
  margin-left: -20px;
  text-align: center;
  border-radius: 2px;
}

.facets-container {
  position: absolute;
  bottom: 20px;
  left: 5px;
  border: 1px solid black;
  z-index: 10000;
  background: white;
}
.facets-container .facets {
  display: none;
  padding: 1rem;
}
.facets-container.active .facets {
  display: block;
}
.facets-container label {
  display: block;
  text-transform: capitalize;
  margin-top: 1rem;
}
.facets-container .facet:first-child label {
  margin-top: 0;
}
.facets-container select {
  max-width: 200px;
}
.facets-container button {
  position: absolute;
  padding-top: 0;
  padding-bottom: 0;
  height: 40px;
  line-height: 40px;
  top: -40px;
  left: 0;
}

.data-summary {
  position: absolute;
  z-index: 10000;
  left: 70px;
  top: 10px;
  padding: 0.5rem 1rem;
  background: white;
  border: 1px solid black;
  max-width: 600px;
}
.data-summary p {
  margin: 0;
}
.data-summary span {
  font-weight: bold;
}
.refreshing-map {
  display: none;
}
.data-summary p.refreshing-map.active {
  display: block;
  margin-top: 1rem;
}

.data-sources {

}
.data-source {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  position: relative;
}
.record-count-container {
  width: calc(100% - 140px);
  height: 24px;
  line-height: 24px;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
}
.record-count-bar {
  position: absolute;
  width: 0;
  height: 100%;
  background: #ffa600;
}
.record-count-text {
  margin-left: 0.2rem;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.data-source .toggle-parent {
  position: absolute;
  top: 1rem;
  right: 0;
}
.data-source h4 {
  margin: 0 0 0.2rem;
}
.data-source h4 a {
  text-decoration: none;
}
.data-source-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.data-source.active .data-source-details {
  max-height: 100vh;
  overflow-y: auto;
}
.data-source-table {
  margin-top: 0.5rem;
  border-bottom: 3px solid black;
}
.data-table.data-source-table td:last-child,
.data-table.data-source-table th:last-child {
  text-align: left;
}
