
p,
li {
  line-height: 1.5;
  margin: 1rem 0;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1360px) {
  .content {
    margin: 0;
    margin-left: 266px;
  }
}

.toc {
  position: fixed;
  left: 0;
  top: 0;
  width: 246px;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid black;
}
