
nav {
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 1rem;
  z-index: 1000;
  border-bottom: 2px solid black;
  align-items: center;
  background: black;
  color: white;
  flex-wrap: wrap;
}
nav label,
nav > * {
  margin-right: 0.2rem;
}
nav label,
nav select {
  margin-bottom: 0.5rem;
}
.group-select {
  display: none;
}
.group-select.active {
  display: flex;
}

.wordcloud {
  margin-top: 120px;
  position: relative;
}
.entity {
  display: none;
  vertical-align: baseline;
  margin: 0 0 1rem 1rem;
  text-decoration: none;
  background: black;
  color: white;
  padding: 2px 4px;
}
.entity.active {
  display: inline-block;
}
.entity:hover {
  background: #ccc;
  color: black;
}
.entity img {
  display: block;
  margin: auto;
}
