.app {
  display: flex;
}

fieldset {
  margin-top: 0.5rem;
  border: 1px solid black;
}
fieldset label {
  font-size: 1rem;
}
fieldset + p {
  margin-top: 0;
}

.facets-container {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  box-sizing: border-box;
  padding: 0 0.5rem;
}
.search-container {
  flex-grow: 1;
  margin-top: 1rem;
  padding-right: 0.5rem;
  position: relative;
}

.facets-container h2 {
  margin-bottom: 0.2rem;
}
.facets-container label {
  display: block;
}
.facets-container label:hover {
  cursor: pointer;
  background: #ffe25c;
}
.facets-container legend {
  cursor: pointer;
}
.facet-checkbox {
  margin-right: 0.5rem;
}
.apply-facet-changes-button {
  display: none;
}
.facet.changed .apply-facet-changes-button {
  display: block;
}
.facet-input-group {
  display: none;
}
.facet.active .facet-input-group {
  display: block;
}

.search-form fieldset {
  background: #eee;
}
.search-form fieldset legend {
  background: white;
}

.search-input,
.search-button {
  height: 40px;
  line-height: 40px;
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}
.search-input {
  border: 1px solid black;
  box-sizing: border-box;
  width: 60%;
  min-width: 300px;
}
.search-button {
  padding-top: 0;
  padding-bottom: 0;
}

.field-list label {
  display: inline-block;
  margin-right: 0.2rem;
}

.search-results-message {
  background: #ffe25c;
  padding: 0.5rem;
  border: 1px solid black;
  margin: 0.5rem 0;
}
.search-results-message p {
  margin: 0;
}
.search-results-message .remove-facet {
  font-size: 0.9rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2rem;
  padding: 5px;
}

body.loading .loader {
  display: flex;
}
body.loading .search-results,
body.loading .search-results-message,
body.loading .search-results-pagination {
  display: none;
}

.result-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.result-item h4 {
  margin-bottom: 0.2rem;
}
.data-table {
  font-size: 0.9rem;
  border: 2px solid black;
}
.data-table tr:nth-child(even) td {
  background: #ddd;
}
.data-table td:first-child {
  width: 120px;
}
.data-table .button {
  font-size: 0.9rem;
  padding: 0 2px;
  display: inline-block;
  margin-right: 0.2rem;
  vertical-align: middle;
}
