.app {
  display: flex;
}

body > p:first-child {
  margin: 0 0 -1rem 0.1rem;
  position: relative;
  z-index: 10;
}

fieldset {
  margin-top: 0.5rem;
  border: 1px solid black;
}
fieldset label {
  font-size: 1rem;
}
fieldset + p {
  margin-top: 0;
}

.facets-container {
  min-width: 300px;
  width: 300px;
  max-width: 300px;
  box-sizing: border-box;
  padding: 0 0.5rem 0 0;
  display: none;
}
.facets-container.active {
  display: block;
}
.search-container {
  flex-grow: 1;
  margin-top: 1rem;
  padding: 0 0.5rem;
  position: relative;
}

.facets-container h2 {
  margin-bottom: 0.2rem;
}
.facets-container label {
  display: block;
}
.facets-container label:hover {
  cursor: pointer;
  background: #ffe25c;
}
.facets-container legend {
  cursor: pointer;
}
.facet-checkbox {
  margin-right: 0.5rem;
}
.apply-facet-changes-button {
  display: none;
}
.facet.changed .apply-facet-changes-button {
  display: block;
}
.facet-input-group {
  display: none;
}
.facet.active .facet-input-group {
  display: block;
}

.search-form fieldset {
  background: #eee;
}
.search-form fieldset legend {
  background: white;
}

.search-input,
.search-button {
  height: 40px;
  line-height: 40px;
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}
.search-input {
  border: 1px solid black;
  box-sizing: border-box;
  width: 60%;
  min-width: 300px;
}
.search-button {
  padding-top: 0;
  padding-bottom: 0;
}

.field-list label {
  display: inline-block;
  margin-right: 0.2rem;
}

.search-results-message {
  background: #ffe25c;
  padding: 0.5rem;
  border: 1px solid black;
  margin: 0.5rem 0;
}
.search-results-message p {
  margin: 0;
}
.search-results-message .remove-facet {
  font-size: 0.9rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2rem;
  padding: 5px;
}

.search-sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -1rem;
}
.search-sort label {
  margin-right: 0.5rem;
}

body.loading .loader {
  display: flex;
}
body.loading .search-results,
body.loading .search-results-message,
body.loading .search-results-pagination,
body.loading .search-sort {
  display: none;
}

.result-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.result-item h4 {
  margin-bottom: 0.2rem;
}
.result-item:first-child h4 {
  margin-top: 0rem;
}
.data-table {
  font-size: 0.9rem;
  border: 2px solid black;
}
.data-table tr:nth-child(even) td {
  background: #ddd;
}
.data-table td:first-child {
  width: 120px;
}
.data-table .button {
  font-size: 0.9rem;
  padding: 0 2px;
  display: inline-block;
  margin-right: 0.2rem;
  vertical-align: middle;
}

.search-results-pagination {
  margin: 1rem 0;
}
.search-results-pagination .page-link {
  display: inline-block;
  margin: 0 0 1rem 1rem;
}

.search-map {
  width: 700px;
  height: 400px;
  position: relative;
  margin: 1rem 0;
}
body.loading .search-map-wrapper {
  visibility: hidden;
}
.search-map-wrapper > p {
  margin-top: -20px;
  margin-bottom: 0;
}
.map-query-button {
  margin-bottom: 2rem;
  display: none;
}
.map-query-button.active {
  display: inline-block;
}
.legend {
    line-height: 18px;
    color: #000;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


.timeline-container {
  width: 700px;
  height: 150px;
  position: relative;
  border: 1px solid black;
  background: white;
  margin: 1rem 0;
}
body.loading .timeline-container {
  visibility: hidden;
}
.timeline-container canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.time-range-selector {
  width: 635px;
  position: absolute;
  top: 30px;
  left: 42px;
  height: 85px;
}
.time-range-selector .ui-slider-range {
  background: rgba(255, 235, 0, 0.2);
  border: 1px solid black;
  box-sizing: border-box;
}
.time-range-selector .ui-slider-handle {
  background: black;
  top: 0;
  width: 10px;
  height: 100%;
  margin-left: -5px;
  outline: black;
}
.time-range-selector .ui-slider-handle .label {
  display: block;
  position: absolute;
  font-size: 0.9rem;
  background: black;
  color: white;
  height: 20px;
  line-height: 20px;
  width: 40px;
  top: -20px;
  left: 50%;
  margin-left: -20px;
  text-align: center;
  border-radius: 2px;
}

#dupe-results {
  margin-left: 40px;
}
